# Rust build output
/target/

# Rust/Cargo files
**/*.rs.bk
Cargo.lock

# OS
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Logs
*.log

# Temporary keys or JSON
keys.json
keys/

# Ignore runtime key metadata
keys.json.metadata
